/* Qs1. Set the background page to color “wheat”, by using an inline style. */
/* Qs2. Change the color of the poem in the page to brown (use the hex code for color). */
/* Qs3. Align all the headings & the poem to the center of the poge. */
/* Qs5. Change the font of the entire document to the font - Georgia. */
body{
    background-color: wheat;
    color: #a52a2a;
    align-items: center;
    font-family: Georgia;
}
/* Qs4. Change the color of the poem to red & the poet’s name to black. */
/* Qs9. Set the poem’s line-height to 30px. */
p{
    color: red;
    line-height: 30px;
}

h3{
    color: black;
}



/* Qs6. Set the color of the Wikipedia link to green & remove its underline (use the rgb
value for color). */
a{
    color: #008000;
    text-decoration: none;
}

/* Qs7. Change the button background color to white & button text to blueviolet. */
button{
    background-color: white;
    color: blueviolet;
}

/* Qs8. What is the hex code for black color? Set the textarea font color to black. */
textarea{
    color: #000000;
}


/* Qs10. Underline only the word Ozymandias inside the poem. */
b{
    font-weight: 200;
    text-decoration: underline;
}