.container {
  display: grid;
  width: 600px;
  height: 600px;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
  row-gap: 10px;
  column-gap: 10px;
}

.header {
  background-color: pink;
  grid-row: 1/2;
  grid-column: 1/13;
}
.navigation {
  background-color: pink;
  grid-row: 2/3;
  grid-column: 1/13;
}
.sidebar {
  background-color: pink;
  grid-column: 1/4;
  grid-row: 3/12;
}
.main {
  background-color: pink;
  grid-column: 4/13;
  grid-row: 3/12;
}
.ads {
  background-color: pink;
  grid-column: 1/4;
  grid-row: 12/13;
}
.footer {
  background-color: pink;
  grid-column: 4/13;
  grid-row: 12/13;
}
